body {
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(red,orange,yellow,green,blue,indigo,violet);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
main 
{
  width: 100vw;
  display: flex;
  justify-content: center;
}
header,footer
{
  width: 100vw;
  background-color: rgba(255,255,255,0.90);
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 25px rgba(0,0,0,0.75);
  text-shadow: 0 0 10px rgba(255,0,0,7.5);
}
nav 
{
  box-shadow: 0 0 25px rgba(0,249,250,0.75);
  background-color: rgba(0, 220, 205,0.5);
  padding: 5px;
  border-radius: 10px;

}
section 
{
  width: 300px;
  box-shadow: 0 0 25px rgba(0,0,0,0.75);
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  margin: 15px 0px;
  border: 5px ridge black;
}
nav a 
{
  margin: 5px;
}
a:hover 
{
  opacity: 75%;
  color: purple;
}
img 
{
  border: 3px solid red;
  margin: 5px;
  padding: 25px;
}
.NOPADDING 
{
  padding: 0;
}