body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: linear-gradient(red,orange,yellow,green,blue,indigo,violet);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

header 
{
  width: 100vw;
  background-color: rgba(255,255,255,0.90);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 25px rgba(0,0,0,0.75);
  text-shadow: 0 0 10px rgba(255,0,0,7.5);
}
nav 
{
  box-shadow: 0 0 25px rgba(0,249,250,0.75);
  background-color: rgba(0, 220, 205,0.5);
  padding: 5px;
  border-radius: 10px;
  
}
section 
{
  box-shadow: 0 0 25px rgba(0,0,0,0.75);
  width: 100vw;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  margin-top: 15px;
  border: 5px ridge black;
}
nav a 
{
  margin: 5px;
}
a:hover 
{
  opacity: 50%;
}